<div class="card">
  <div class="card-header d-flex justify-content-between align-items-center">
      <h5 class="card-title" id="titulo-listagem"></h5>
      <button id="botao-cadastrar" class="btn btn-primary"></button>
  </div>
  <div class="card-body">
      <div class="row mb-3">
          <div class="col">
              <label for="pesquisar" class="form-label">Pesquisar</label>
              <input type="text" id="pesquisar" class="form-control" placeholder="Pesquisar" />
          </div>
      </div>
      <table class="table table-hover">
          <thead id="cabecalho-tabela"></thead>
          <tbody id="corpo-tabela"></tbody>
      </table>
      <div class="d-flex justify-content-between align-items-center">
          <span id="info-registros"></span>
      </div>
  </div>
</div>